VITE_TOKEN_CONTRACT_ID=CCMMAIQ7SDJ62L2FOPONMTIWCZMHDFAV7W2AP3THPP4MTUQAH4RB7ZAN
VITE_SAVINGS_CONTRACT_ID=CDDWOGYZLZXDYIPY5UDQMJ2UQCMHNWFNWDHQWN272MKMG4Y7BJMYTG6L
VITE_REWARDS_CONTRACT_ID=CBQHNYLC2M7GKLZFDKFDWMNBRG675OB3V6BBCCQIB6OHSJACMCH3I4DJ
VITE_NETWORK=TESTNET
VITE_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_RPC_URL=https://soroban-testnet.stellar.org
